// RadioInput.scss
.radio-input {
    .input-label {
        // margin-bottom: 5px;
        font-weight: 500;
        margin-right:0.5em;
        font-size:14px;
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

        input {
            margin-right: 5px;
        }
    }
}
